@use "../custom" as *;
@use "../components/mixins" as *;

.company-list-section {
  @include globalCard(100%, 1339px, 1339px, 1339px);

  .card-div {
    .wrapper {
      margin-left: 20px;
      margin-right: 21px;
      form {
        margin-left: 30px;
        @include showEntries(3px, #f9f9f9);
        .accordion-item {
          border: 0;
          .accordion-header {
            .accordion-button {
              padding: 0;
              margin: 0;
              &:focus,
              &:active {
                outline: none;
                box-shadow: none;
              }
              &:not(.collapsed) {
                background-color: transparent;
                box-shadow: none;
                &::after {
                  background-image: url(/images/chevron-bottom.svg);
                  background-size: auto;
                  position: absolute;
                  top: 0;
                  left: 0;
                  transform: rotate(-360deg);
                  background-position: left;
                }
              }

              &::after {
                background-image: url(/images/chevron-left.svg);
                background-size: auto;
                position: absolute;
                top: 0;
                left: 0;
                background-position: left;
              }

              .table > :not(caption) > * > * {
                padding: 0;
              }
              p {
                margin-left: 20px;
              }
            }
          }
          .accordion-body {
            padding: 0;
          }
        }
        .accordion-body-section {
          margin-right: 79px;

          .page-item {
            margin-left: 10px;
            .page-link {
              border: 1px solid #ebebeb;
              border-radius: 100%;
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0;
              &:focus {
                box-shadow: none;
              }
            }
          }
          .page-item.active .page-link {
            background-color: #f9f9f9;
            color: #444444;
          }
        }
        @include tableStyle(
          492px,
          15px 15px 15px 30px,
          16px 0px 0px 30px,
          73px
        );
      }
    }
  }
}
