@use "../custom" as *;
@use "../components/mixins" as *;

.pass-wrapper {
  position: relative;
  .input-group-text {
    height: 39px;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    margin-right: 20px;
    right: 0;
    z-index: 30;
  }
}

#error-text {
  color: $placeholderColor;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}
